<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	
	<title>{{ title }}</title>
	<meta name='author' content='Nikita Gazarov' />
	<meta name='keywords' content='{{ meta_keywords }}' />
	<meta name='description' content='{{ meta_description }}' />
	
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=2.0' />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	
	<link rel='icon' type='image/png' sizes='152x152' href='/img/icons/hnapp-icon-152x152.png' />
	<link rel='icon' type='image/png' sizes='76x76' href='/img/icons/hnapp-icon-76x76.png' />
	<link rel='shortcut icon' href='/img/icons/hnapp-icon-16x16.png' />
	<link rel='icon' sizes='192x192' href='/img/icons/hnapp-icon-192x192.png' />
	<link rel='apple-touch-icon-precomposed' sizes='192x192' href='/img/icons/hnapp-icon-192x192.png' />
	<link rel='apple-touch-icon-precomposed' sizes='152x152' href='/img/icons/hnapp-icon-152x152.png' />
	<link rel='apple-touch-icon-precomposed' sizes='120x120' href='/img/icons/hnapp-icon-120x120.png' />
	<link rel='apple-touch-icon-precomposed' sizes='76x76' href='/img/icons/hnapp-icon-76x76.png' />
	<link rel='apple-touch-icon-precomposed' sizes='64x64' href='/img/icons/hnapp-icon-64x64.png' />
	<link rel='apple-touch-icon-precomposed' sizes='60x60' href='/img/icons/hnapp-icon-60x60.png' />
	<link rel='apple-touch-icon-precomposed' sizes='48x48' href='/img/icons/hnapp-icon-48x48.png' />
	<link rel='apple-touch-icon-precomposed' sizes='32x32' href='/img/icons/hnapp-icon-32x32.png' />
	<link rel='apple-touch-icon-precomposed' sizes='16x16' href='/img/icons/hnapp-icon-16x16.png' />
	
	<link rel='stylesheet' href='/css/normalize.css' />
	<link rel='stylesheet' href='/css/hnapp.css' />
	
	<meta property="og:title" content="{{ meta_og_title }}" />
	<meta property="og:description" content="{{ meta_description }}" />
	<meta property="og:site_name" content="hnapp" />
	<meta property="og:image" content="{{ HOST_NAME }}/img/icons/hnapp-icon-120x120.png" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ title }}" />
	<meta name="twitter:description" content="{{ meta_description }}" />
	<meta name="twitter:site" content="@hnapp" />
	<meta property="twitter:image" content="{{ HOST_NAME }}/img/icons/hnapp-icon-120x120.png" />
	
	{% if rss_url -%}
		<link rel='alternate' type='application/rss+xml' title='{{ title }}' href='{{ rss_url }}' />
	{%- endif %}
</head>
<body>

{% block main %}
{% endblock %}

<script src='/js/hnapp.js'></script>

{% include 'parts/vendor/ga.html' %}

</body>
</html>