<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>{{ title }}</title>
	<meta name='author' content='Nikita Gazarov' />
	<link rel='stylesheet' href='/css/normalize.css' />
	<link rel='stylesheet' href='/css/hnapp.css' />
	<!-- Not enough jQuery! D: -->
	{% if query is not none -%}
		<link rel='alternate' type='application/rss+xml' title='{{ title }}' href='{{ rss_url }}' />
	{%- endif %}
</head>
<body>

{% block main %}
{% endblock %}

<script type='text/javascript' src='/js/hnapp.js'></script>

</body>
</html>
