<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>{{ title }}</title>
	<meta name='author' content='Nikita Gazarov' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=2.0'>
	<link rel='stylesheet' href='/css/normalize.css' />
	<link rel='stylesheet' href='/css/hnapp.css' />
	<link rel="shortcut icon" href="/img/icons/favicon.png" />
	<link rel="icon" href="/img/icons/touch-icon-192x192" />
	<link rel='apple-touch-icon' sizes='60x60' href='/img/icons/touch-icon-60x60' />
	<link rel='apple-touch-icon' sizes='76x76' href='/img/icons/touch-icon-76x76' />
	<link rel='apple-touch-icon' sizes='120x120' href='/img/icons/touch-icon-120x120' />
	<link rel='apple-touch-icon' sizes='152x152' href='/img/icons/touch-icon-152x152' />
	<link rel='apple-touch-icon' sizes='192x192' href='/img/icons/touch-icon-192x192' />
	<!-- Not enough jQuery! D: -->
	{% if query is not none -%}
		<link rel='alternate' type='application/rss+xml' title='{{ title }}' href='{{ rss_url }}' />
	{%- endif %}
</head>
<body>

{% block main %}
{% endblock %}

<script src='/js/hnapp.js'></script>

{% include 'parts/vendor/ga.html' %}

</body>
</html>
