{% extends "layout.html" %}

{% block main %}
	
<main>
	
	{%- include 'parts/header.html' -%}
	
	<section>
		
		{% if query is none -%}
			{%- include 'parts/front.html' -%}
		{%- else -%}
			<div class='subscribe subscribe--non-mobile'>
				<span class='subscribe__text'>Subscribe to this search:&nbsp; <a href='{{ rss_url }}'>RSS</a>, <a href='{{ json_url }}'>JSON</a></span>
			</div>
			<table id='items'>
				{% for item in items %}
					{% if item.kind == 'story' %}
						{% include 'parts/story.html' %}
					{% else %}
						{% include 'parts/comment.html' %}
					{% endif %}
				{% else %}
					<p>Nothing found :( Check your spelling and syntax?</p>
					<p>Note: older HN items haven't been indexed yet: <a href='/status'>Check status</a>.</p>
				{% endfor %}
			</table>
			<div class='subscribe subscribe--mobile'>
				<span class='subscribe__text'>Subscribe to this search:&nbsp; <a href='{{ rss_url }}'>RSS</a>, <a href='{{ json_url }}'>JSON</a></span>
			</div>
		{%- endif %}
		
	</section>
	
	{%- include 'parts/footer.html' -%}
	
</main>
	
{% endblock %}


