{% extends "layout.html" %}

{% block main %}

<main>

	{% include 'parts/header.html' %}

	<section>
		<h1>Status</h1>
		<table id='statuses'>
			{% for status in statuses %}
			<tr class='status'>
				<td class=''>{{ status.name }}</td>
				<td class=''>{{ status.number or status.text or status.date }}</td>
			</tr>
			{% endfor %}
			<tr class='status'>
				<td class=''>max_item_id</td>
				<td class=''>{{ max_item_id }}</td>
			</tr>
			<tr class='status'>
				<td class=''>min_item_id</td>
				<td class=''>{{ min_item_id }}</td>
			</tr>
			<tr class='status'>
				<td class=''>item_count</td>
				<td class=''>{{ item_count }} ({{ max_item_id - min_item_id - item_count }} missing)</td>
			</tr>
		</table>
	</section>

	{% include 'parts/footer.html' %}

</main>

{% endblock %}
